<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Extension Updates</key>
    <array>
      <dict>
        <key>CFBundleIdentifier</key>
        <string>com.flipxfx.svim</string>
        <key>Developer Identifier</key>
        <string>8PHST8UEB7</string>
        <key>CFBundleVersion</key>
        <string>101</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0.1</string>
        <key>URL</key>
        <string>https://github.com/flipxfx/sVim/releases/download/1.0.1/sVim.safariextz</string>
      </dict>
    </array>
  </dict>
</plist>
