<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Phillip Lanclos</string>
	<key>Builder Version</key>
	<string>13604.5.6</string>
	<key>CFBundleDisplayName</key>
	<string>sVim</string>
	<key>CFBundleIdentifier</key>
	<string>com.flipxfx.svim</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.7</string>
	<key>CFBundleVersion</key>
	<string>108</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>104857600</real>
		<key>Global Page</key>
		<string>sVimGlobal.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>toolbarMenu</string>
				<key>Menu Items</key>
				<array>
					<dict>
						<key>Checked State</key>
						<real>0.0</real>
						<key>Command</key>
						<string>pause</string>
						<key>Identifier</key>
						<string>toolbarMenuPause</string>
						<key>Title</key>
						<string>Pause sVim</string>
					</dict>
					<dict>
						<key>Identifier</key>
						<string>toolbarMenuSeparator</string>
						<key>Separator</key>
						<true/>
					</dict>
					<dict>
						<key>Checked State</key>
						<real>0.0</real>
						<key>Command</key>
						<string>showsVimrc</string>
						<key>Identifier</key>
						<string>toolbarMenuShowsVimrc</string>
						<key>Title</key>
						<string>Show sVimrc</string>
					</dict>
					<dict>
						<key>Checked State</key>
						<real>0.0</real>
						<key>Command</key>
						<string>help</string>
						<key>Identifier</key>
						<string>toolbarMenuHelp</string>
						<key>Title</key>
						<string>Show Help</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>toolbar</string>
				<key>Image</key>
				<string>Icon.png</string>
				<key>Label</key>
				<string>sVim</string>
				<key>Menu</key>
				<string>toolbarMenu</string>
				<key>Palette Label</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>sVimTab.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>mousetrap.js</string>
				<string>sVimHelper.js</string>
				<string>sVimHint.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>sVim.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>http://*/*</string>
			<string>https://*/*</string>
			<string>safari-reader://*/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Vim shortcuts in Safari</string>
	<key>DeveloperIdentifier</key>
	<string>6Q2K7JYUZ6</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://github.com/flipxfx/sVim/rajkw/master/manifest.plist</string>
	<key>Website</key>
	<string>http://flipxfx.com</string>
</dict>
</plist>
