@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#sVim-command {
  -webkit-animation: fadein .2s !important;
  -webkit-appearance: none !important;
  background-color: rgba(0, 0, 0, 0.80) !important;
  background-position: none !important;
  background-repeat: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
  box-sizing: content-box !important;
  color: #FFFFFF !important;
  display: none;
  font-family: "Helvetica Neue" !important;
  font-size: 13px !important;
  font-style: normal !important;
  left: 0 !important;
  letter-spacing: normal !important;
  line-height: 1 !important;
  margin: 0 !important;
  min-height: 0 !important;
  outline-style: none !important;
  outline: 0 !important;
  padding: 2px 0 0 10px !important;
  position: fixed !important;
  right: 0 !important;
  text-align: start !important;
  text-indent: 0px !important;
  text-shadow: none !important;
  text-transform: none !important;
  vertical-align: none !important;
  width: 100% !important;
  word-spacing: normal !important;
  z-index: 2147483647 !important;

.sVim-hint {
  color: #000;
  font-size: 10pt;
  font-family: monospace;
  line-height: 10pt;
  padding: 0px;
  margin: 0px;
  opacity: 0.7;
}
